asgiref==3.6.0
astroid==2.15.2
async-timeout==4.0.2
certifi==2022.12.7
dill==0.3.6
distlib==0.3.6
Django==4.2
django-cors-headers==3.14.0
django-redis==5.2.0
djangorestframework==3.14.0
filelock==3.11.0
gunicorn==20.1.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
pipenv==2023.3.20
platformdirs==3.2.0
psycopg==3.1.8
psycopg2-binary==2.9.6
pylint==2.17.2
pytz==2023.3
redis==4.5.4
sqlparse==0.4.3
tomli==2.0.1
tomlkit==0.11.7
typing_extensions==4.5.0
virtualenv==20.21.0
virtualenv-clone==0.5.7
wrapt==1.15.0
